<footer>
    <div class="container" >
        <div class="row" style="padding-top: 10vh;">
            
            <div class="col-lg-4 col-md-4 col-sm-4" >
                
                <ul class="links" >
                    <li><a routerLink="/about-us">About Us</a></li>
                    <!--<li><a routerLink="blogs">Our Blogs</a></li>-->
                    <li><a routerLink="/contact-us">Contact Us</a></li>
                    <span></span><br>
                    <!--<li><a href="link">Corporate Program</a></li>-->
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                
                <ul class="links">
                
                    <li><a routerLink="/treks">Treks</a></li>
                    <li><a routerLink="/trip/winter-spiti-back">Spiti Winter Trip</a></li>
                    <li><a routerLink="/trip/kedar-badri-dham">Kedar & Badri Dham</a></li>
                    <span></span><br>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                
                <ul class="links">
                    
                    <li><a routerLink="/pilgrim">Pilgrim Trips</a></li>
                    <li><a routerLink="/weekend">Weekend Getaways</a></li>
                    <li><a routerLink="/backpacking">Backpacking Trips</a></li>
                    <span></span><br>
                
                </ul>
            </div>
            
            
        </div>
        <div class="main_title_2" style="margin-bottom: 1px solid #eee;">
            <span><em></em></span>
            <h4 style="color: #fff; margin-top: 20px; margin-bottom: 1rem;">Contact</h4>
            <p></p>
        </div>
        <div class="row" >
            <div class="col-lg-6 col-md-6 col-sm-6">
               <!-- <h5>For Corporate &amp; college</h5>-->
                <ul class="contacts">
                    <li><a href="tel:+917906613988"><i class="ti-user"></i> Support</a></li>
                    <li><a href="tel:+917906613988"><i class="ti-mobile"></i> + 91 7906 613 988</a></li>
                    <li><a href="mailto:helpme@tripgusto.com"><i class="ti-email"></i> helpme@tripgusto.com</a></li>
                </ul><br>
                
            </div>
  
            <div class="col-lg-6 col-md-6 col-sm-6">
               <!-- <h5>For Brand Collaboration</h5>-->
                <ul class="contacts">
                    <li><a href="tel:+919456345148"><i class="ti-user"></i> Akash Rawat </a></li>
                    <li><a href="tel:+919456345148"><i class="ti-mobile"></i> + 91 9456 345 148</a></li>
                    <li><a href="mailto:helpme@tripgusto.com"><i class="ti-email"></i> helpme@tripgusto.com</a></li>
                </ul><br>
                
            </div>
          <!-- <div class="col-lg-4 col-md-6 ">
                <h5>For Trek Related Queries </h5>
                <ul class="contacts">
                    <li><a href="tel:+918887780463"><i class="ti-user"></i> Aman Chadha</a></li>
                    <li><a href="tel:+918887780463"><i class="ti-mobile"></i> + 91 888 77 80 463</a></li>
                    <li><a href="mailto:treks@justwravel.com"><i class="ti-email"></i> treks@justwravel.com</a></li>
                </ul>
                
            </div>--> 
        </div>
        <div class="row" style="padding-top: .5rem; text-align: center;">
          <div class="col-lg-12 col-md-12 ">
                    <ul class="social-icon"  style="padding-top: .5rem; text-align: center;">
                        <li>Follow us:</li>
                        <li><a href="https://www.facebook.com/trip_gusto" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/trip_gusto" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/trip_gusto-pvt-ltd" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.instagram.com/trip_gusto/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
          </div>    
        </div>
        <!--/row-->
  
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
             <!--   <ul id="footer-selector">
                    
                    <li><img src="https://www.justwravel.com/assets/img/cards_all.svg" alt="JustWravel Secure Payment"></li>
                </ul>
            </div> -->
            <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-3"> 
                          <ul id="additional-links">
                                <li><a routerLink="/terms">Terms And Conditions</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3"> 
                          <ul id="additional-links">
                               <li><a routerLink="/cancellation">Cancellation Policy</a></li>
                               </ul>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3"> 
                          <ul id="additional-links">
                               <li><a routerLink="/privacy">Privacy</a></li>
                               </ul>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3"> 
                          <ul id="additional-links">
                                <li><span style="font-size: .9rem;">© 2021 Trip Gusto</span></li>
                          </ul>
                      </div>                    
                  </div>
            </div>
        </div>
    </div>
  </footer>