  <!--enquiry-->
  <div id="enquiry" class="section"  style="padding-top: 0; padding-bottom: 30px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" style="z-index: 4; 
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12); 
        margin-bottom: 2rem; padding-bottom: 1rem;">
          <div class="section-heading">
            <h2>Enquiry</h2>
          </div>
  
          <div class="contact-form">
            <form class="contact-form" id="contact" #queryForm="ngForm" action="/submit_query.php" method="post" >
              <div class="row">
                <div class="col-sm-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Name" [(ngModel)] ="Cquery.name" required="">
                  </fieldset>
                </div>
  
                <div class="col-sm-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Email" [(ngModel)] ="Cquery.email" required="">
                  </fieldset>
                </div>
  
                <div class="col-sm-12">
                  <fieldset>
                    
                    <input name="phone" type="text" class="form-control" id="phone" placeholder="Phone" [(ngModel)] ="Cquery.phone" required="">
                  </fieldset>
                </div>
  
                <div class="col-sm-6">
                  <fieldset>
                    
                    <input name="date1" type="date" class="form-control" id="date1" placeholder="From DD-MM-YY" [(ngModel)] ="Cquery.date_from"  required="">
                  </fieldset>
                </div>
  
                <div class="col-sm-6">
                  <fieldset>
                    <input name="date2" type="date" class="form-control" id="date2" placeholder="To DD-MM-YY" [(ngModel)] ="Cquery.date_to" required="">
                  </fieldset>
                </div>
                
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Notes" [(ngModel)] ="Cquery.message"  required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset style="text-align: center;">
                    <button type="submit" id="form-submit" class="filled-button spin-button" (click)="createQuery(queryForm)" value="Send">
                      <span class="button__text" >Send Request</span> 
                      <!-- onclick="this.classList.toggle('button--loading')"  -->
                  </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Contact Details</h2>
          </div>
          
          <div id="tripdetail" class="left-content" style="text-align: center;">
           <div class="row">
             <div class="col-md-12">
              <p>
                <span  style="font-size: 15px; letter-spacing: unset;" >Mobile Phone</span>
                    <br>
              </p>
             </div>
             <div class="col-md-6">
              <strong>
                <a href="tel:+ 91 9760 262 794" style="font-size: 15px; letter-spacing: unset;">7906 613 988</a>
              </strong>
            </div>
            <div class="col-md-6">
              <strong>
                <a href="tel:+ 91 8439 368 574" style="font-size: 15px; letter-spacing: unset;">9456 345 148</a>
              </strong>
            </div>
            <br>
            <div class="col-md-12">
              <p>
                <span style="font-size: 15px; letter-spacing: unset; ">Email</span>
    
                <br>
                
                <strong>
                  <a href="mailto:helpme@tripgusto.com" style="font-size: 15px; letter-spacing: unset;">helpme@tripgusto.com</a>
                </strong>
              </p>
            </div>
           </div>
  
            
          
          </div>
        </div>  
        
      </div>
    </div>
  </div>
  