body{
	background-color: teal;
}


.happy-clients {
	margin-top: 100px;
	margin-bottom: 40px;
}

.happy-clients .client-item img {
	max-width: 100%;
	overflow: hidden;
	transition: all .3s;
	cursor: pointer;
}

.client-item h6 { 
	line-height: 1.6;  
}

.happy-clients .client-item img:hover {
	opacity: 0.8;
}

.section-title {
    margin-top: 1rem;
	text-align: center;
	margin-bottom: 30px;
	/*border-bottom: 1px solid #eee;*/
}



/*theme*/
.owl-theme .owl-nav {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent; }
	.owl-theme .owl-nav [class*='owl-'] {
	  color: #FFF;
	  font-size: 14px;
	  margin: 5px;
	  padding: 4px 7px;
	  background: #D6D6D6;
	  display: inline-block;
	  cursor: pointer;
	  border-radius: 3px; }
	  .owl-theme .owl-nav [class*='owl-']:hover {
		background: #4DC7A0;
		color: #FFF;
		text-decoration: none; }
	.owl-theme .owl-nav .disabled {
	  opacity: 0.5;
	  cursor: default; }
  
  .owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 10px; }
  
  .owl-theme .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent; }
	.owl-theme .owl-dots .owl-dot {
	  display: inline-block;
	  zoom: 1;
	  *display: inline; }
	  .owl-theme .owl-dots .owl-dot span {
		width: 10px;
		height: 10px;
		margin: 5px 7px;
		background: #D6D6D6;
		display: block;
		-webkit-backface-visibility: visible;
		backface-visibility: visible;
		transition: opacity 200ms ease;
		border-radius: 30px; }
	  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
		background: #4DC7A0; }


  /*slider*/
  .item{
	  transition:all 0.5s ease;
	  border-radius: 6px;
  }
.item:hover{
	box-shadow: 0 0 0 0 rgba(0,40,120,0);
  transform:scale(1.13);
}
.round-square{
	border-radius: 6px;
}

  .slider{
	  width: 100%;
	  height: auto;
	  border-radius: 6px;
  }

.shadow-effect{
	background-color: #0000;
	text-align: center;
	border: #707070;
	/*box-shadow: 0 19px 38px rgba(255, 255, 255, 0.08), 0 15px 12px rgba(255, 255, 255, 0.08),;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
	border-radius: 6px;
	
}
.owl-product-slider .shadow-effect p{
	font-family: inherit;
	font-size: 17px;
	line-height: 1.5;
	margin: 0 0 17px;
	font-weight: 300;
	border-radius: 6px;
}
.trip-name{
	margin: -10px auto 0;
	display: table;
	width: auto;
	padding-top: 15px;
	text-align: center;
	color: rgb(39, 39, 39);
	box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05),;
	border-radius: 6px;
	
}


/*reveal*/
.reveal {
	width: 100px;
	min-width: unset;
	margin: .5rem;
}
/* thumb navi*/
.outer { 
	margin:0 auto;
	max-width:800px;
}
#big .item {  
	padding: 20px 0px; 
	margin:2px; color: #FFF; 
	border-radius: 3px; 
	text-align: center;
 }
#thumbs .item { 
	padding: 0px; 
	margin:2px; 
	 
	border-radius: 3px; 
	text-align: center; 
	cursor: pointer; 
	max-width: 150px;
	max-height: 150px;
}
#thumbs .item h1 { 
	font-size: 18px; 
}
#thumbs .current .item{ 
	text-align: center;
 }

.owl-theme .owl-nav [class*='owl-'] {
	 -webkit-transition: all .3s ease; 
	 transition: all .3s ease; 
	}
.owl-theme .owl-nav [class*='owl-'].enabled:hover {
	 background-color: #D6D6D6; 
	}
#big.owl-theme { 
	position: relative; 
}
#big.owl-theme .owl-next, #big.owl-theme .owl-prev {
	 background:#333; 
	 width: 22px; 
	 line-height:40px; 
	 height: 40px; 
	 margin-top: -20px; 
	 position: absolute; 
	 text-align:center; 
	 top: 50%; 
	}
#big.owl-theme .owl-prev { 
	left: 10px; 
}
#big.owl-theme .owl-next { 
	right: 10px; 
}
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { 
	background:#333; 
}