<!--trending trips-->
<div class="backpacking-slider" style="margin-bottom: 4em;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading ">
            <h2>Backpacking Trips</h2>
            
          </div>
            
          <div id="b-slider" class="owl-carousel owl-theme" >
  
            
            <!-- backpacking trips  -->
          <div class="item" *ngFor="let slide of backpacking.slides; let i=index">
            <div class="shadows">
                
              <a [routerLink]="['/trip', backpacking.routes[i]]"><img [src]=[slide] alt=""></a>
            
            <div class="down-content" >
              <a [routerLink]="['/trip', backpacking.routes[i]]"><h4>{{backpacking.titles[i]}}</h4></a>
              <h6>Starting ₹{{backpacking.price[i]}}</h6>
              <small style="padding-top:2em ;">
                   <strong title="Flight included"><i class="fa fa-calendar"></i> Spring</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                   <strong title="Flight included"><i class="far fa-clock"></i>{{backpacking.duration[i]}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                   <strong title="Flight included"><i class="fas fa-map-marker-alt"></i>{{backpacking.pdlocation[i]}}</strong>
              </small>
             </div>
            </div>
           </div>      
        </div>
      </div>
    </div>
  </div>
</div>
