<!-- ***** Preloader Start ***** 
<app-preloader></app-preloader>
<!-- ***** Preloader End ***** -->

<!-- Page Content -->
 <div class="page-heading contact-heading header-text" style="background-image: url(assets/images/banners/pin-parvati-mb.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>Contact Us</h4>
            <h2>Trip Gusto</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="find-us">
    <div class="container fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>About our office</h2>
          </div>
        </div>
      <!-- <div class="col-md-7">
 How to change your own map point
  1. Go to Google Maps
  2. Click on your location point
  3. Click "Share" and choose "Embed map" tab
  4. Copy only URL and paste it within the src="" field below

          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13805.50308822231!2d78.2965251!3d30.1120591!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf9c5a126e6f60a3!2sMad%20For%20Trip!5e0!3m2!1sen!2sin!4v1617360653159!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>-->
        <div class="col-md-12">
          <div class="left-content">
            
            <p style="text-align: center;">Mad about the soulful bliss of that after-effect atop of a mountain has brought like-minded wanderers together at Trip Gusto. Roaring through these long lonely Himalayan roads we have gathered to make and share an exquisite Himalayan experience. From sweating atop the Himalayan endeavors to the world of delights and wonders we offer an authentic cultural and endearing expanse of offbeat delights.</p>
            <!--contact info-->
            <div class="row" style="text-align: center;">
              <div class="col-lg-6 col-md-6 ">
                 <!-- <h5>For Corporate &amp; college</h5>-->
                  <ul class="contacts" >
                      <li><a href="tel:+917906613988"><i class="ti-user"></i> Trip Gusto Support</a></li>
                      <li><a href="tel:+917906613988"><i class="ti-mobile"></i> + 91 7906 613 988</a></li>
                      <li><a href="mailto:helpme@tripgusto.com"><i class="ti-email"></i> helpme@tripgusto.com</a></li>
                  </ul>
                  
              </div>
    
              <div class="col-lg-6 col-md-6 ">
                 <!-- <h5>For Brand Collaboration</h5>-->
                  <ul class="contacts">
                      <li><a href="tel:+919456345148"><i class="ti-user"></i> Akash Rawat</a></li>
                      <li><a href="tel:+919456345148"><i class="ti-mobile"></i> + 91 9456 435 148</a></li>
                      <li><a href="mailto:helpme@tripgusto.com"><i class="ti-email"></i> helpme@tripgusto.com</a></li>
                  </ul>
                  
              </div>
            </div>
            <!--contact info ends-->
            <ul class="social-icons" style="margin-top: 1rem; text-align: center;">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  
  <div class="send-message" style="padding-bottom: 3em;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Send us a Message</h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="contact-form">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--<div class="col-md-4">
          <img src="assets/images/team_01.jpg" class="img-fluid" alt="">

          <h5 class="text-center" style="margin-top: 15px;">John Doe</h5>
        </div>-->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  <router-outlet></router-outlet>