<!-- ***** Preloader Start ***** 
<app-preloader></app-preloader>
<!-- ***** Preloader End ***** -->
<!-- Page Content -->
<div class="page-heading about-heading header-text" style="background-image: url(assets/images/banners/pin-parvati-mb.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>About</h4>
            <h2>Trip Gusto</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  


  <div class="best-features about-features" style="padding-bottom: 5em;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
           <!--<h2>Our Visions</h2>--> 
          </div>
        </div>
        <div class="col-md-5">
          <div class="right-image">
            <img src="assets/images/spiti/chitkul-biking-gallery-1.jpg" alt="" style="border-radius: 10px;">
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="left-content" style="padding: 0em 3em;">
            <h3 style="text-align: center;">Trip Gusto</h3><br>

            <p style="font-size: medium;" >Mad about the soulful bliss of that after-effect atop of a mountain has brought like-minded wanderers together at Trip Gusto.
               Roaring through these long lonely Himalayan roads we have gathered to make and share an exquisite Himalayan experience.
                From sweating atop the Himalayan endeavors to the world of delights and wonders we offer an authentic cultural and endearing expanse of offbeat delights. </p>
            <ul class="social-icons" style="text-align: center;">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Lorem ipsum dolor sit amet.</h2>
          </div>

          <h5>Lorem ipsum dolor sit amet.</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quae eveniet tempora reprehenderit quo, necessitatibus vel sit laboriosam, sunt obcaecati quisquam explicabo voluptatibus earum facilis quidem fuga maiores. Quasi, obcaecati? <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, est officiis. Ipsam quas consequuntur adipisci quis, fuga pariatur eius eveniet qui similique nulla inventore accusantium, suscipit asperiores quibusdam culpa iure!</p>
        </div>
      </div>
    </div>
  </div>
-->
<app-footer></app-footer>
  