
<!-- Page Content -->
<div class="page-heading about-heading header-text" [style]=tripVar.mbImg>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h2>{{tripVar.title}}</h2>
            <h4>{{tripVar.subtitle}}</h4>
          </div>
        </div>
      </div>      
    </div>
    <div id="banner-btn" class="banner-class" >
      <span class="contact-form">
        <button type="submit" id="form-submit" data-toggle="modal" data-target="#queryModal" class="filled-buttonBannerGet" style=" margin-right: 2rem;">Get Quote</button>
        <a href="https://api.whatsapp.com/send?phone=917906613988&amp;text=I want to know more about _*Trip*_" target="_blank">
          <button class="filled-buttonWhats"><i  class="fab fa-whatsapp" style="font-size: 1.1em; font-weight: bold;"></i> WhatsApp</button>
        </a>
      </span>
    </div>
  </div>


  



  
  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!--trip carousel with navi thumb-->
          <div class="container-fluid outer">
            <div id="big" class="owl-carousel owl-theme">
              <div class="item" *ngFor="let slide of tripVar.slides">
              
                <img [src]='slide' alt="" class="img-fluid wc-image img-responsive">
              </div>
            
            </div>
            <div id="thumbs" class="owl-carousel owl-theme ">
              <div class="item" *ngFor="let slide of tripVar.slides">
              
                <img [src]="slide" alt="" class="img-fluid wc-image">
              </div>
              
            </div>
            
            </div>
        </div>
  <!--trip carousel with navi thumb end-->
  
        <div class="col-md-6">
          <!-- <div class="row" style="text-align: center; margin-bottom: 2rem;">
            <div  style="text-align: center;">
              <div><i class="fas fa-rupee-sign" style="font-size:25px"></i></div>
              <div>Starting at</div>
              <div><strong style="font-size:25px; font-weight: bold;">{{tripVar.price}}</strong></div>
            </div>
  
            <div  style="text-align: center;">
              <div><i class="far fa-clock" style="font-size:25px"></i></div>
              <div>Duration</div>
              <div><strong  style="font-weight: bold; font-size:25px;">{{tripVar.duration}}</strong></div>
              
            </div>
  
            <div  style="text-align: center;">
              <div><i class="fas fa-map-marker-alt" style="font-size:25px"></i></div>
                <div>Pick Up &amp; Drop:</div>
                <div><strong style="font-weight: bold; font-size:25px;">{{tripVar.pdlocation}}</strong></div>
        
          </div>
          </div> -->
          <table style="text-align: center; table-layout: fixed;">
            <thead>
              <tr>
                
                <th>
                  <div><i class="fas fa-rupee-sign" style="font-size:25px"></i></div>
              </th>
                <th>
                    <div><i class="far fa-clock" style="font-size:25px"></i></div>
                </th>
                <th>
                  
                    <div><i class="fas fa-map-marker-alt" style="font-size:25px"></i></div>
              <!--  <p class="lead">
                    &nbsp;Starting at &nbsp;<strong style="font-size:25px; font-weight: bold;">₹16,499</strong> <br><br> <i class="far fa-clock" style="font-size:25px"></i>&nbsp;<strong style="font-weight: bold;">{{trip.Length}}</strong> &nbsp;&nbsp; <i class="fas fa-map-marker-alt" style="font-size:25px"></i>&nbsp;Pick Up &amp; Drop: <strong style="font-weight: bold;">Delhi</strong> 
                  </p>
                  <br><br>  -->
                </th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div>Starting at</div>
              </td>
              <td>
                <div>Duration</div>
              </td>
              <td>
                <div>Pick Up &amp; Drop:</div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <div><strong style="font-size:25px; font-weight: bold;">{{tripVar.price}}</strong></div>
              </td>
              <td>
                <div><strong  style="font-weight: bold; font-size:25px;">{{tripVar.duration}}</strong></div>
              </td>
              <td>
                <div><strong style="font-weight: bold; font-size:25px;">{{tripVar.pdlocation}}</strong></div>
              </td>
            </tr>
          </tbody>
        </table>
            <p style="font-size: medium;">
              {{tripVar.Overview.part1}} <br><br>        
              {{tripVar.Overview.part2}} <br><br>   
              {{tripVar.Overview.part3}} <br><br>   
              {{tripVar.Overview.part4}} <br><br>         
            </p>         
        </div>
      </div>
    </div>
  </div>
  
  <!--reveal end-->
  
      <div class="row" style="margin-top: 3rem;">
             <div class="col-md-12">
               <div class="container" style="overflow:hidden;">
                 <!--mat- tab-->
                <mat-tab-group mat-stretch-tabs class="mat-elevation-z4"animationDuration="200ms" dynamicHeight dynamicWidth >
                  <!--first tab-->
                  <mat-tab label="Itinerary"> 
                    <div class="container">
                      <div class="section-heading" style="border: 0">
                      <h2>Itinerary</h2>
                      </div>
                      <!--DYNAMIC list-->
                      <ul class="list-group list-group-flush">                       
                         <li class="list-group-item" *ngFor="let trips of tripVar.Itinerary.days; let i=index">
                            <div class="row">                        
                                <div class="col-md-2 col-sm-3" >
                      
                                   <p><strong style="font-weight: 600; font-size: large;">{{trips}}</strong></p>
                      
                                </div>
                                <div class="col-md-10 col-sm-9 ">
                                  <p style="font-weight: 600; font-size: 16px; ">{{tripVar.Itinerary.head[i]}}
                                    <br><br>
                                  </p>
                                  <p style="font-weight: 500; font-size: 16px; ">
                                    {{tripVar.Itinerary.body[i]}}
                                  </p>
                                </div>
                                
                              </div>
                          </li>
                        </ul>
                  </div>
  
            
                  </mat-tab>
                  <!--2 tab-->
                <mat-tab label="Costing">
                <div class="row">
                      <div class="col-md-12 col-lg-12">
                          <div class="container" >
                            <div class="section-heading">
                         <h2>Costing</h2>
                           </div>                    
                            <table class="styled-table">
                              <thead>
                                  <tr class="active-row">
                                      <th>Occupancy</th>
                                      <th>Price</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let cTable of tripVar.costing; let i=index;">
                                      <td>{{tripVar.occupancy[i]}}</td>
                                      <td>{{cTable}}</td>
                                  </tr>
                                  <!-- <tr class="active-row">
                                      <td>Melissa</td>
                                      <td>5150</td>
                                  </tr> -->
                                  <!-- and so on... -->
                              </tbody>
                          </table>
                          
                       </div>
                      
                     <!--inclusion and exclusion here fa-ul and fa-li is used for bullet style-->
                   <div id="in-ex" class="container">
                    <div class="section-heading">
                      <h2>Inclusions</h2>
                </div>
                <ul class="fa-ul">
                 <li *ngFor="let item of tripVar.inclusions">
                     <span class="fa-li" style="font-size: 1em; color: #006622;"><i class="fas fa-check-circle"></i></span> {{ item }}
                  </li>
                </ul>
                   
                     <div class="section-heading">
                           <h2>Exclusions</h2>
                     </div>
                     <ul class="fa-ul">
                      <li *ngFor="let item of tripVar.excluded">
                       <span class="fa-li" style="font-size: 1em; color: #cc0000;"><i class="fas fa-times-circle"></i></span>{{ item }}
                       
                      </li>
                    </ul>            
            </div>
            <!--inclusion and exclusion ends-->
              
                </div>
             </div>
                </mat-tab>
                <!--3 tab-->
                <mat-tab label="Book Now">
                  <app-book-now></app-book-now>
                </mat-tab>
                
               
                <!--4 tab-->
                <mat-tab label="Things To Carry">
                  <div class="container">
                    <div class="section-heading">
                          <h2>Things To Carry</h2>
                    </div>
                    <mat-list>
                     <mat-list-item *ngFor="let item of tripVar.TTC">
                   
                       <i class="fa fa-circle" style="font-size:6px"></i>
                       &nbsp;&nbsp;{{ item }}
                     </mat-list-item>
                   </mat-list>
                  </div>
                  </mat-tab>
                <!--5 tab-->
                <mat-tab label="Cancellation Policy">
                  <div class="container" style="margin-bottom: 3rem;">
                    <div class="section-heading">
                          <h2>Cancellation Policy</h2>
                    </div>
                    <ul>
                      <li>
                        <i class="fas fa-arrow-circle-right"></i> <strong>&nbsp;&nbsp;No refund shall be granted for the initial booking amount. However, </strong>
                      </li>    
                      <br>                
                      <li>
                       &nbsp;&nbsp;<i class="fas fa-arrow-right" style="font-size:10px"></i> Free Cancellation upto 45 days before the departure date.
                      </li>
                      <li>
                        &nbsp;&nbsp;<i class="fas fa-arrow-right" style="font-size:10px"></i> 50% will be charged of trip cost, 30-44 days.                      
                      </li>
                      <li>
                        &nbsp;&nbsp;<i class="fas fa-arrow-right" style="font-size:10px"></i> 70% will be charged of trip cost, 15-29 days.
                      </li>
                      <li>
                        &nbsp;&nbsp;<i class="fas fa-arrow-right" style="font-size:10px"></i> 100% will be charged of trip cost, 0-14 days.
                      </li>
                    </ul>
                  </div>
                </mat-tab>
                </mat-tab-group>
                 <!--mat tab end-->
               </div>                                  
            </div>
      </div>
  
  <!--map and contact-->
  <app-enquiry></app-enquiry>  
  
  
   <!--maps-->
   <div class="section" id="map">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Map and Route</h2>
          </div>
          <div class= "map-responsive"  style="text-align: center;">
           <iframe [src]="urlSafe " width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" ></iframe> 
        </div>
        </div> 
      </div>
      <div class="row" style="margin-top: 3em;">
        <div class="col-md-12">   
          <p>NOTE: Travellers residing outside Delhi are suggested to book trains/flights reaching Delhi not later than 4 PM on the trip start date. Similarly, on trip end date, book returning flight/trains leaving post 2 PM.</p>
        </div>
      </div>
    </div>
  </div>
   
  
  <app-footer></app-footer>
    
  <!-- Modal -->
  <app-modal></app-modal>
  <router-outlet></router-outlet>



