<!--main content-->

<div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h2>Weekend Getaway Trips</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <div class="row">

      <!--<div >-->

        <div class="col-md-4" *ngFor="let cate of weekend.titles; let i = index">
         <div class="product-item">
          <a [routerLink]="['/trip', weekend.routes[i]]"><img [src]='weekend.poster[i]' alt=""></a>
              <div class="down-content" style="text-align: center;">
                    <a [routerLink]="['/trip', weekend.routes[i]]"><h4>{{cate}}</h4></a>

                    <small>
                      <strong title="Cost"><i class="fas fa-rupee-sign"></i>&nbsp;&nbsp;{{weekend.price[i]}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                      <strong title="Length"><i class="far fa-clock"></i>&nbsp;&nbsp;{{weekend.duration[i]}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                      <strong title="Pick &amp; Drop"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;{{weekend.pdlocation[i]}}</strong>
                    </small>                   
                    
                    
             <!--</div >-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>