<div class="page-heading about-heading header-text" style="background-image: url(assets/images/banners/valley-b.jpg);">
    <div class="container ">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content ">
            <h2>Privacy Policy</h2>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

                <h5 style="text-align: center;"><strong>Privacy Policy</strong></h5><br><br>
                <p>This Privacy Policy is an electronic record in the form of an electronic contract formed under Informationation Technology Act, 2000 and the rules made there under, 
                    and the amended provisions about electronic documents/records in various statutes as amended by the Information Technology Act, 2000. 
                    This Privacy Policy does not require any physical, electronic, or digital signature.</p>

                    <br><br>
                <p>Our website is standing there for providing services to the users and to that, we may ask you for your information at times. 
                    We assure you that all the information that is gathered from you is being used for facilitation purposes only and not for any malicious activity. We do not encourage data leaks or any similar schemes, 
                    which is why your information will be kept protected and only be shared with the members of the company who are associated with the facilitation of service for the user only.</p>    
                    <br><br>

                    <h6 style="text-align: center;"><strong>Cookies</strong></h6>
                <p>Cookies are small files saved to the user's computer hard drive that track, save and store information about the user's interactions and usage of the website. This allows the website, through its server to provide the users with a tailored experience within this website. 
                    Users are advised that if they wish to deny the use and saving of cookies from this website on their computer's hard drive they should take necessary steps within their web browser's security settings to block all cookies from this website and its external serving vendors.
                    This website uses tracking software to monitor its visitors to better understand how they use it. This software is provided by Google Analytics which uses cookies to track visitor usage. 
                    The software will save a cookie to your computer's hard drive to track and monitor your engagement and usage of the website, but will not store, save or collect personal information.
                    </p>
                    <br><br>

                    <h6 style="text-align: center;"><strong>Security</strong></h6>
                <p>We are committed to ensuring that your information is secure. 
                    To prevent unauthorized access or disclosure we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>
                    <br>
                    <p>All information gathered on our Website is securely stored within our controlled database. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable. 
                        We cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet. 
                        And, of course, any information you include in a posting to the discussion areas is available to anyone with Internet access.</p>
                        <br>
                <p>We share any data when it is requested or required by law or by any court or governmental agency or authority to disclose, for verification of identity, or the prevention, detection, investigation including cyber incidents, or prosecution and punishment of offenses. 
                    These disclosures are made in good faith and belief that such disclosure is reasonably necessary for enforcing these Terms; for complying with the applicable laws and regulations.</p>
                    <br><br>

                    <p>In the case of any discrepancy or query that you have regarding our privacy policy, please connect to us.</p>
                    <br><br>

                    <p>Trip Gusto</p> 
                  <p>ISBT Rd, Adarsh Gram, Rishikesh, Uttarakhand 249201</p>  
                 <p>+919760262794</p>   
                 <p>email</p>  
                 </div>
                </div>
            </div>
        </div>
                 
                 <app-footer></app-footer>  

                 <router-outlet></router-outlet>