<!-- Modal -->


  <div id="myModa" class="bg-img modal" >
      <div class="content  modal-content">
        
        <h2>Get a call back <span (click)="modalService.showDialog = false" class="close">&times;</span></h2>
        
       
        
        <form #queryForm="ngForm"  method="POST" (ngSubmit)="createQuery(queryForm); queryForm.reset()"  id="contact" ngNativeValidate>
          <div class="field">
            <span class="fa fa-user"></span>
            <input type="text" required="" placeholder="Name *" name="name" [(ngModel)] ="Cquery.name">
          </div>
          <div class="field space">
            <span class="fa fa-envelope"></span>
            <input type="text" required="" placeholder="Email *" name="email" [(ngModel)] ="Cquery.email">
          </div>
          <div class="field space">
            <span class="fa fa-mobile"></span>
            <input type="text" required="" placeholder="Phone No. *" name="email" [(ngModel)] ="Cquery.phone">
          </div>
          <div id="when" class="field space">
            <span class="fa fa-calendar-week"></span>
            <select  required="" name="when" [(ngModel)] ="Cquery.when" >
                <option id="dis" value="null" disabled selected hidden >When do you wanna travel? *</option>
                <option *ngFor="let date of when" value="{{date.id}}">{{date.whenTo}}</option>
               
            </select>
          </div>
          <div id="where" class="field space">
            <span class="fa fa-search"></span>
            <select  required="" [(ngModel)] ="Cquery.where" name="where" >
                <option id="diss" value="null" disabled selected hidden >What type a trip you want? *</option>
                <option *ngFor="let type of where" value="{{type.id}}">{{type.whereTo}}</option>
                
            </select>
          </div> 
         
          <div class="field space">
            <input type="submit" value="Submit" >
          </div>
        </form>
        
      </div>
    </div>
      