
<!-- TESTIMONIALS --> 

     
    
      <div class="services" style="background-image: url(assets/images/banners/nandi.jpg);" >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Testimonials</h2>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <div id="customers-testimonials" class="owl-carousel owl-theme">
              
                          <!-- testimonial 1 -->
                          <div class="item">
                            <div class="shadow-effect">
                              <img class="img-square" src="assets/images/testimonials/Sanidhya.jpg" alt="">
                              <p>"The place was completely off grid, and the arrangements made by Mad For Trip were just perfect. 
                                rom Tents and sleeping bags to camping food, everything was on spot and accounted for."</p>
                            </div>
                            <div class="testimonial-name">Sanidhya Wakdikar</div>
                          </div>
                          
                          <!-- testimonial 2 -->
                          <div class="item">
                            <div class="shadow-effect">
                              <img class="img-square" src="assets/images/testimonials/Jaydeep.jpg" alt="">
                              <p>"...They actually made me Mad For Trip.....
                              I'll definitelyhit them up again in near future for some more adventures"</p>
                            </div>
                            <div class="testimonial-name">Jaideep Butola</div>
                          </div>
              
                          <!-- testimonial 3 -->
                          <div class="item">
                            <div class="shadow-effect">
                              <img class="img-square" src="assets/images/testimonials/Pooja.jpg" alt="">
                              <p>"The guides and drivers were very professional and friendly, the accomodation simpley superb. 
                                I highly recommend it...."</p>
                            </div>
                            <div class="testimonial-name">Pooja Singh</div>
                          </div>
              
                          <!-- testimonial 4 -->
                          <div class="item">
                            <div class="shadow-effect">
                              <img class="img-square" src="assets/images/testimonials/Harsha.jpg" alt="">
                              <p>"I always wanted to explore Uttarakhand as I heard a lot about it ......<br>
                              and they gave justice to all my expectations"</p>
                            </div>
                            <div class="testimonial-name">Harsha Malode</div>
                          </div>
              
                          <!-- testimonial 5 -->
                          <div class="item">
                            <div class="shadow-effect">
                              <img class="img-square" src="assets/images/testimonials/Arti.jpg" alt="">
                              <p>".. the kind of experience I had with them is not expressable in words,
                               its memories made of magic because of such wondereful planning.."</p>
                            </div>
                            <div class="testimonial-name">Arti</div>
                          </div>
              
              
                        </div>
                      </div>
                    </div>
            </div>
<!-- END OF TESTIMONIALS -->
<router-outlet></router-outlet>