<!-- ***** Preloader End ***** -->


<!-- Page Content -->
<!-- Banner Starts Here -->


<div class="banner  header-text " id="banner">
  <div class="owl-banner owl-carousel owl-theme">
    <div class="banner-item-01">
      <div class="text-content">
       <!--<h2>Go Mad</h2>--> 
        <h2>Seek The Thrill</h2>
      </div>
    </div>
    <div class="banner-item-02">
      <div class="text-content">
        <!--<h2>Be Mad</h2-->>
        <h2>Create Your Story</h2>
      </div>
    </div>
    <div class="banner-item-03">
      <div class="text-content">
        <!--<h2>Live Mad</h2>-->
        <h2>Step Out & Explore</h2>
      </div>
    </div>
  </div>
</div>


<!--trending trips-->
<app-trending-carousel></app-trending-carousel>



<!--trips category-->
<app-category-carousel></app-category-carousel>

<!--backpacking trips-->
<app-backpacking-carousel [cat]="catPass2"></app-backpacking-carousel>


<!--treks-->
<app-treks-carousel [cat]="catPass1"></app-treks-carousel>

<!--weekend getaway-->
<app-weekend-carousel [cat]="catPass3"></app-weekend-carousel>


<!--blogs
<div class="services" style="background-image: url(assets/images/other-image-fullscren-1-1920x900.jpg);" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Latest Blog Posts</h2>

          <a routerLink="blogs">Read More <i class="fa fa-angle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <a routerLink="#" class="services-item-image"><img src="assets/images/blog-1-370x270.jpg" class="img-fluid" alt=""></a>

          <div class="down-content">
            <h4><a routerLink="#">Significance of the place 'Kedarkantha'</a></h4>

            <p style="margin: 0;"> Arti Mehta &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 05/02/2021 </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <a routerLink="#" class="services-item-image"><img src="assets/images/blog-2-370x270.jpg" class="img-fluid" alt=""></a>

          <div class="down-content">
            <h4><a routerLink="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h4>

            <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <a routerLink="#" class="services-item-image"><img src="assets/images/blog-3-370x270.jpg" class="img-fluid" alt=""></a>

          <div class="down-content">
            <h4><a routerLink="#">Aperiam modi voluptatum fuga officiis cumque</a></h4>

            <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!--testimonials-->

<!--testimonials-->


<app-footer></app-footer>
<router-outlet></router-outlet>