<!--private trip main content-->

<div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h2>Private Treks</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="products">
    <div class="container">
      <div class="row">
  
        <!--<div >-->
  
          <div class="col-md-4" *ngFor="let cate of private.titles; let i = index">
           <div class="product-item">
            <a [routerLink]="['/trip', private.routes[i]]"><img [src]='private.poster[i]' alt=""></a>
                <div class="down-content" style="text-align: center;">
                      <a [routerLink]="['/trip', private.routes[i]]"><h4>{{cate}}</h4></a>
  
                      <small>
                        <strong title="Cost"><i class="fas fa-rupee-sign"></i>&nbsp;&nbsp;{{private.price[i]}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                        <strong title="Length"><i class="far fa-clock"></i>&nbsp;&nbsp;{{private.duration[i]}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                        <strong title="Pick &amp; Drop"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;{{private.pdlocation[i]}}</strong>
                      </small>                   
                      
                      
               <!--</div >-->
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <app-footer></app-footer>